* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    height: 100%;
}

.sidebar {
    width: 30%;
    height: 100%;
    position: fixed;
    background-color: blueviolet;
}

.sidepos {
    position: absolute;
}

.imgper {
    left: 50%;
    top: 30%;
    transform: translate(50%, 30%);
}

.imgper img {
    max-width: 100%;
    width: 80%;
    border-radius: 50%;
    border: 8px solid rgb(165, 69, 255);
}

.menu {
    top: 80%;
    left: 50%;
    transform: translate(50%, 80%);
    margin: 20px 0;
    text-align: center;
    position: relative;
    left: -20px;
}

.menu a {
    color: rgba(255, 255, 255, 0.568);
    font-size: 40px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

nav .menu a:hover {
    transition: ease-out 0.6s;
    color: white;
}

.parent {
    display: flex;
}

.content {
    width: 70%;
    position: absolute;
    left: 30%;
    height: 200%;
}

.desc {
    left: 5%;
    transform: translate(5%);
}

.desc u {
    color: blueviolet;
    font-size: 100px;
}

.desc h1 {
    font-size: 100px;
}

.desc h3 {
    font-size: 40px;
}

.desc p {
    font-size: 20px;
}

.adress {
    color: blueviolet;
}

.imglinks img {
    margin: 10px;
    width: 10%;
    height: 10%;
}

.imglinks {
    position: absolute;
    top: 100%;
    transform: translatey(100%);
}